#config {
    cursor: pointer;
}

.tense > span.active.query {
    background: #333;
    color: #eee;
}

.tense > span.active {
    color: #333;
}

.tense > span {
    color: #aaa;
}

span.regular {
    color: green;
}
span.irregular {
    color: red;
}
span.stem {
    color: black;
}
div.incorrect {
    color: red;
}